* {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 1.5;
}
body {
  background-color: black;
}
h1 {
  text-align: left;
  color: darkmagenta;
  border-radius: 10px;
  font-size: 100px;
  font-weight: bold;
  display: flex;
  animation: animate-header 650ms backwards ease;
}
h2 {
  font-size: 90px;
  text-align: center;
  color: antiquewhite;
  border-radius: 10px;
  font-weight: bold;
  animation: animate-header 650ms backwards ease;
}
@keyframes animate-header {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h3 {
  color: antiquewhite;
  margin-top: 15px;
  font-size: 32px;
  text-align: center;
  animation: animate-header 650ms backwards ease;
}
.frontend{
  color: darkmagenta;
  font-size: 32px;
}
button {
  border: 1px solid;
  padding: 5px;
  background-color: lightgray;
  margin-top: 25px;
  margin-left: 75px;
}

.homeimage {
  max-width: 500px;
  max-height: 700px;
  animation: animate-homeimg 800ms backwards;
}
@keyframes animate-homeimg {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin-top: 18px;;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  animation: animate-header 650ms backwards ease;
}
/*Contact Images*/

.contact-images{
  max-width: 42px;
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-image{
  margin: 16px;
  transition: all 400ems;
}
.contact-image:hover {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(1.2);
}

/* Language Images */

.logo-image{
  width: 100%;
  max-width: 80px;
  
}
.logo-image:hover {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
  transition: all 400ems ease;
}
.logo-placement{
  margin-top: 24px;
  margin-bottom: 32px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.logo-name{
  color: antiquewhite;
}

/* Projects */

